/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
h1 {
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para el contenedor principal */
#app {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* Estilos para etiquetas de formulario */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilos para campos de entrada y botones */
input[type="text"], input[type="number"], button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la lista de gastos */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

/* Estilos para el botón de eliminar gasto */
li button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}

li button:hover {
    background-color: #c82333;
}

/* Estilos para el enlace para borrar los gastos */
#clearExpense {
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
    transition: color 0.3s;
}


